body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .form {
  max-width: 600px;
}
body .form header {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fa781e;
  position: relative;
}
body .form header h1.title {
  font-weight: 500;
  font-size: 18px;
  line-height: 34px;
  color: #fff;
  position: relative;
  padding-left: 75px;
}
body .form header h1.title::after {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  background: #fff;
  width: 50px;
  height: 50px;
}
body .form header .close {
  width: 1.5em;
  height: 1.5em;
  position: absolute;
  right: 1em;
  top: 1em;
  overflow: hidden;
  text-indent: 1em;
  font-size: 0.75em;
  border: none;
  background: transparent;
  color: transparent;
}
body .form header .close::before,
body .form header .close::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: 50%;
  background: #fff;
}
body .form header .close::before {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
body .form header .close::after {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
body .form .container {
  background: #ccc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 35px 70px;
}
body .form p {
  text-align: center;
  margin-bottom: 30px;
  width: 100%;
}
body .form .btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 35px;
  text-transform: uppercase;
  color: #fff;
  background-color: #00b150;
  text-decoration: none;
}
body .form span {
  display: block;
  color: #00b150;
}